@media print {
    body {
      font-size: 15pt;
    }
  
    .MuiTypography-root {
      font-size: 15pt !important;
    }

    .your-custom-class {
      margin: 0;
      padding: 0;
    }
  
    .no-print {
      display: none; 
    }
  }